.btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: green;
  }

  .btn:active {
    background-color: yellowgreen;
  }
  .first{
    color: red;
  }
  .second{
    color: green;
  }
  .third{
    color: yellowgreen;
  }